<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="social">
            <div>
                <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href=""><img src="../../../assets/github.png" id="githud"></a>
                <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
                <button type="button" class="btn btn-out-outline-light">INGRESO</button>
                
            </div>

        </div>

    </div>

</div>




