<div class="row">
    <p>Cursos Realizados</p>
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
        <ul>
            <li>
                <h1>Curso 1</h1> - <h1>Años</h1>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eum ut sed nemo tenetur, debitis sapiente quas porro velit earum ipsum iste accusantium, dignissimos aut laboriosam, dolor perferendis quam vero!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Curso 1</h1> - <h1>Años</h1>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eum ut sed nemo tenetur, debitis sapiente quas porro velit earum ipsum iste accusantium, dignissimos aut laboriosam, dolor perferendis quam vero!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Curso 1</h1> - <h1>Años</h1>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eum ut sed nemo tenetur, debitis sapiente quas porro velit earum ipsum iste accusantium, dignissimos aut laboriosam, dolor perferendis quam vero!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Curso 1</h1> - <h1>Años</h1>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eum ut sed nemo tenetur, debitis sapiente quas porro velit earum ipsum iste accusantium, dignissimos aut laboriosam, dolor perferendis quam vero!
            </p>
        </ul>

    </div>

</div>