<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.jpg" class="img-fluid" id="perfil">
    </div>
    
    <div class= "col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <h1>
          <p id="nombre">LAURA CAÑETE</p>
          <P>Full Stack Developer Jr</P>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Yo soy Laura, tengo 43 años soy estudiantes de Argentina Progama, a la vez estudio abogacia en Universidad Nacional del Litoral.<br>

                Tengo conocientos en estadisticas, he informatica work, excel y en el area juridica.
            </p>
        </span>
    </div>

</div>
