<div class="row">
    <p>Experiencia laboral</p>
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
        <ul>
            <li>
                <h1>Tabajo 1</h1> - <h1>18 Años</h1>
            </li>
            <p>Trabajo actualmente desde hace 18 años, en el hospital J.B Iturraspe de la ciudad de Santa Fe.</p>
        </ul>
        
        <ul>
            <li>
                <h1>Tabajo 2</h1> - <h1>2 Años</h1>
            </li>
            <p>En el año 2006, entre a trabajar como secretaria en un finacinanciera (C.I.S.F) Centro Integral Santa Fe.</p>
            
        </ul>
        <ul>
            <li>
                <h1>Tabajo 3</h1> - <h1>12 Años</h1>
            </li>
            <p>Desde el 2007 al 2016 me desempeñe como cheff, en diferentes casas de comidas.</p>
        </ul>

    </div>

</div>
