.row{
    padding: 10px;
}
div{
    background-color: #B39CD0;
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 5px 5px 10px black;
        left: 3%;
        top: 600px;
    }
}
@media (max-width: 575px){
    #perfil{
        position: absolute;
        width: 33%;
        border-radius: 100%;
        box-shadow: 5px 5px 10px black;
        left: 33%;
        top: 580px;
    }
}



/*etiqueta nombre*/
#nombre{
    font-family: hold;
    margin-top: 10%;
    margin-left: 10px;
}