.row{
    padding: 10px;
}
div{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 5px 5px 10px black;
        left: 3%;
        top: 600px;
    }
}
@media (max-width: 575px){
    #perfil{
        position: absolute;
        width: 33%;
        border-radius: 100%;
        box-shadow: 5px 5px 10px black;
        left: 33%;
        top: 580px;
    }
}



/*etiqueta nombre*/
#nombre{
    font-family: hold;
    margin-top: 10%;
    margin-left: 10px;
}