<div class="row">
    <h1>Estadisticas</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md- col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [showUnits]="false"
          [title]="'JS'"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [outerStrokeWidth]="15"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#B0A8B9'"
          [innerStrokeColor]="'#F3C5FF'"
          [animation]="true"
          [animationDuration]="800"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [showUnits]="false"
          [title]="'CSS'"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [outerStrokeWidth]="15"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#4B4453'"
          [innerStrokeColor]="'#368098'"
          [animation]="true"
          [animationDuration]="800"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [showUnits]="false"
          [title]="'Github'"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [outerStrokeWidth]="15"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#005B44'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="800"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [showUnits]="false"
          [title]="'ingles'"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [outerStrokeWidth]="15"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#FF8066'"
          [innerStrokeColor]="'#D43725'"
          [animation]="true"
          [animationDuration]="800"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="100"
          [showUnits]="false"
          [title]="'HTML'"
          [titleFontSize]="'2em'"
          [showSubtitle]="false"
          [outerStrokeWidth]="15"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#845EC2'"
          [innerStrokeColor]="'#9B89B3'"
          [animation]="true"
          [animationDuration]="800"
        ></circle-progress>
      </div>
</div>
